 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* navigation  */
#navigation-container {
    position: fixed;
    background-color: #131921;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 5px 15px;
    opacity: 0.7;
}
.nav-container{
overflow: hidden;
position: relative;
width:100%;
height: 70px;
background-color: rgba(22, 21, 21, 0.705);
} 
.log{
  margin-top: 20px;
}
#box1{
    position: absolute;
    left:150px;
    top:0;
    padding:14px;
    height:auto;
    color:white;
}
.loc{
    position: absolute;
    top:4vh;
    left: -0.5vh;
}
#category{
    position: absolute;
    left: 24.5%;
    top: 12px;
    width: 4vw;
    background-color: #F3F3F3;
    height: 6.7vh;
    text-align: left;
    font-size: 90%;
    border-radius: 7px 0 0px 7px;
}
#category:hover{
    border: 3px solid rgb(255, 165, 0);
}
.search-box {
   position: absolute;
   left:385px;
   top: 12px;
   width: 50%;
  
}

.search-box input[type=text]{
    width:80vh;
    padding: 14px;
}

.find {
        position: inherit;
        top: 12px;
        right: 362px;
}
.find ion-icon{
    font-size: 20px;
}
.findst{
    border: none;
    height: 46.5px;
    width: 45px;
    border-radius: 0px 5px 5px 0;
    background-color: #FEBD69;

}
.findst:hover{

    background-color: rgb(255, 165, 0);
}
.cart{
    position: inherit;
    top: 0;
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    right: 10px;
    border-radius: 7px;
}
.cart ion-icon{
    font-size: 40px;
    top:0;
    color: white;
}
#box2{
    position: absolute;
    right:250px;
    top:0;
    width: 5%;
    height:65px;
    color:white;
}

#language{
    position: absolute;
    top: 30px;
   width: 50px;
   background-color: inherit;
   color: white;
}
.opt{
    text-align: center;
    color:black
}
.down{
        height: 68px;
        width: 10%;
    position: absolute;
    right: 100px;
}
.down1{
    display: none;
    background-color:blue;
}
.down1 input[type=button]{
    text-align: center;
        background-color: rgb(248, 252, 16);
        border-radius: 5px;
}
.down1 p,h2,a {
text-align: center;
}
.down1:hover{
display: block;
}
.down p,h3 {
    color:white;
}
/* hover */
.box:hover{
    border: 2px solid white;
}
.logo1:hover{
    border: 2px solid white;
}
    
#language select:hover{
    border-radius: 5px;
    border: 2px solid white;
}
.down:hover{
    border: 2px solid white;
}
.cart:hover{
    border: 2px solid white;

}
/* nav1 bar ends */
.nav2 {
    position: sticky;
    top: 70px;
    width: 100%;
  }
   nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(4, 2, 34, 0.973);
    height: 6vh;

  }
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .menu{
    font-size:40px;
    color:white;
  }
  .cont{
    width: 70px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
  }
  .cont:hover{
    border: 2px solid white;
  }
/* menu */
.menu1{
  position: fixed;
  top:112px;
  width:25vw;
  height: 84vh;
  overflow-y: scroll;
  display: none;
  z-index: 3;
}
.close{
  position: absolute;
  top: -40px;
  left: 340px;
}
.drop {
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop a:hover {
  background-color: #ddd;
}
  nav a {
    font-size: 1.2rem;
    text-decoration: none;
  }
 
  nav ul a {
    color: #ffffff;
    font-weight: 400;
    margin-right: 20px;
  }
 .mini{
    background-color: red;
    height: 40px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 20px;
 }
 
  nav ul a:hover {
    border: 3px solid white;
  }

  nav ul.active {
    left: 0;
  }
li a:hover, .dropdown:hover .dropbtn {
border: 2px solid white;
border-radius: 2px;
opacity: 0.2;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 33vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
/* nav2 ends */
/* content */
/* section */
/* .icon{
    color: black;
    position: relative;
    top:73px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 10vw;
    height:40vh;
}
.icon1{
    color: black;
    position: absolute;
    top:114px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 10vw;
    height:40vh;
}
.icon:hover{
    border: 3px solid rgb(6, 6, 51);
    border-radius: 4px;
}
.icon1:hover{
   
}
.icon,.icon1 ion-icon{
    font-size:64px ;
}
.img{
    position: absolute;
    top:16%;
    z-index: -1;
} */
.watch{
    position: relative;
    top:400px;
    left:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
    height: 420px;
    background-color: #f1f1f1;
    z-index: -1;
}
.watch h1{
    position: absolute;
    padding: 3px;
    top: 0;
    text-align: left;
}
.watch a{
position: inherit;
top:170px;
left: -160px;
text-align: left;
}
.slideshow-container {
    width: 100%;
    position: absolute;
    margin: auto;
    padding-top: 5%;
    z-index: -1;
  }

  .mySlides {display: none;}
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 19.5%;
    width: 10vw;
    height:47vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: lighter;
    font-size:64px ;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    border: 2px solid rgb(6, 6, 51);
    border-radius: 4px;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
.holder{
 display:flex;
 gap: 2rem;
}
.small{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:442px;
    right:20px;
    width: 320px;
    height: 150px;
    background-color: #f1f1f1;
    z-index: -1;
}
.small h1{
    position: absolute;
    top:0px;
    right: 60px;
    padding: 10px;
    text-align: left;
    
    }
.btn{
    color: black;
    margin-top: 50px;
    margin-left: 24%;
    padding: 10px;
    background-color: orange;
    opacity: 0.7;
    border-radius: 5px;
}
.lap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:680px;
    right:20px;
    width: 320px;
    height: 110px;
    background-color: #f1f1f1;
    z-index: -1;
}
.btn1:hover {
    opacity: 1.0;
}
footer{
  background-color: #232f3e;
  position: relative;
  top: 600px;
  height: 110vh;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.row{
	display: flex;
	flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 170px;
}
.footer-col ul{
  position: relative;
  left: -100px;
  top: -75px;
  width: 250px;
	list-style-type: none;
  display: flex;
 flex-direction: column;
 margin: 90px;
}

.footer-col li a{
  text-align: left;
}

.footer-col{
   width: 21%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.last {
width: 70%;
position: absolute;
bottom: 140px;
left: 220px;
}
.last a{
  margin-right: -22px;
}

.last1 a{
color: white;
font-size:14px;
}
